* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  width: 100%;
  margin: 0 auto;
}

.nav-bar li {
  color: red;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  width: 620px;
  display: inline;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
  padding: 72px;
  text-transform: uppercase;
}

.nav-bar:nth-child(3) {
  margin-right: 50px;
}
.nav-bar:last-child {
  margin-right: 0;
}

img {
  width: 100%;
  height: 789px;
  background-color: rgb(27, 16, 18);
  background-size: cover;
  background-repeat: no-repeat;
}

.text-section {
  width: 100%;
  pad: 48px 68px 42px;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
  text-align: center;
  margin-bottom: 38px;
}

button {
  border: none;
  background: #ff0000;
  border-radius: 4px;
  padding: 18px 43px;
  color: white;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  align-items: center;
  letter-spacing: 1.8px;
  margin: 66px;
}

footer {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-left: 713px;
  margin-right: 105px;
}
